{% extends "nacara/layouts/base.njk" %}

{% block content %}
    <div class="page-content nacara-content">
        <div class="container">

            <div class="columns is-gapless is-mobile">
                <div class="column is-menu-column is-3-desktop is-hidden-touch">
                    {% include "nacara/components/menu.njk" %}
                </div>
                <div class="column is-9-desktop is-full-touch">
                    <section class="section">
                        <div class="content">
                            <header class="page-header">
                                <div class="columns is-vcentered is-hidden-touch">
                                    <div class="column">
                                        {{ collections.all | nacara_breadcrumb | safe }}
                                    </div>
                                    <div class="column is-narrow">
                                        <a class="button is-ghost" target="_blank" href="{{ metadata.nacara.editUrl + page.inputPath.slice(1) }}">
                                                Edit
                                            </a>
                                    </div>
                                </div>
                                <h1 class="title is-1">
                                    {{ title | safe }}
                                </h1>
                            </header>

                            {{ content | safe }}
                        </div>

                        {% include "nacara/components/previous-next-pagination.njk" %}

                    </section>

                </div>
            </div>

        </div>

    </div>
{% endblock content %}
