<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <div class="layout" role="document">
        <main id="main" class="main">
            {{ content | safe }}
        </main>
    </div>
</body>
</html>
