{{ collections.all | nacara_menu | safe }}

{# <script src=https://unpkg.com/scroll-into-view-if-needed@2.2.28/umd/scroll-into-view-if-needed.min.js" defer="defer"></script> #}
<script src="/assets/nacara/js/menu.js" defer="defer" type="module"></script>
