{% extends "nacara/layouts/base.njk" %}

{% block content %}
    <div class="page-content nacara-content">
        <div class="section container content">
            {% renderTemplate "md" %}
            # I am a title

            * I am a list
            * I am a list
            {% endrenderTemplate %}
            <header class="header">
                <h2 class="title h2">
                    {{ title }}
                </h2>
            </header>
            <div class="content changelog">
                {{ data | nacara_changelog | safe }}
            </div>
        </div>
    </div>
{% endblock content %}
