{% extends "nacara/layouts/base.njk" %}

{% block content %}
    <div class="page-content nacara-content">
        <div class="container content">
            <header class="header">
                <h2 class="title h2">
                    {{ title }}
                </h2>
            </header>
            <div class="content changelog">
                {{ data | nacara_changelog | safe }}
            </div>
        </div>
    </div>
{% endblock content %}
